@import "../variables.scss";
@import "../mixins.scss";

.main__wrapper {
  display: flex;
  background-color: $color-sapphire;

  @include vp-1200 {
    display: block;
    background-color: transparent;
  }
}
